.content {
    width: 80%;
    margin: 100px auto 0;

    .cvies_content {
        display: flex;
        flex-direction: column;

        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 20px 0;
            width: 800px;
            border-bottom: 1px solid #EEF1F7;
            margin-bottom: 24px;

            .search_input {
                font-size: 14px;
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
                height: 40px;
                padding: 0 12px;
                margin: 0;
                border-radius: 4px;
                font-family: Arial, "Helvetica Neue", sans-serif;
                color: #2a3137;
                background-color: #fff;
                line-height: 2.375rem;
                border-radius: 4px;
                outline: none;
                border: 1px solid #aabbca;
            }

            .search_btn {
                display: inline-block;
                box-sizing: border-box;
                margin: 0;
                vertical-align: middle;
                text-decoration: none;
                cursor: pointer;
                font-weight: regular;
                font-size: 0.875rem;
                height: 40px;
                position: relative;
                padding: 0 12px;
                border-radius: 4px;
                font-family: inherit;
                line-height: 2.375rem;
                color: #fff;
                border: 1px solid;
                border-color: #3A25B5;
                background-color: #3A25B5;

                &:hover {
                    background-color: #4d38c4;
                    border-color: #4d38c4;
                    color: #fff;
                }
            }
        }

        .results {
            display: flex;
            flex-direction: column;

            .results_header {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #EEF1F7;

                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 1.125rem;
                    line-height: 1.1;
                    font-family: Arial, sans-serif;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                .orders {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    position: relative;
                    margin-bottom: 20px;

                    button {
                        display: inline-block;
                        box-sizing: border-box;
                        margin: 0;
                        vertical-align: middle;
                        text-decoration: none;
                        cursor: pointer;
                        font-weight: regular;
                        font-size: 0.875rem;
                        height: 40px;
                        position: relative;
                        padding: 0 12px;
                        border-radius: 4px;
                        font-family: inherit;
                        line-height: 2.375rem;
                        color: #fff;
                        border: 1px solid;
                        border-color: #3A25B5;
                        background-color: #3A25B5;

                        &:hover {
                            background-color: #4d38c4;
                            border-color: #4d38c4;
                            color: #fff;
                        }
                    }


                    .select_input {
                        width: 200px;
                        display: inline-flex;
                        flex-direction: row;
                        line-height: 1.43;
                        font-size: 0.875rem;
                        display: inline-block;
                        // width: fit-content;
                        height: 40px;
                        margin: 0;
                        font-family: Arial, "Helvetica Neue", sans-serif;
                        color: #2a3137;
                        padding: 0 26px 0 12px;
                        background-color: #fff;
                        cursor: pointer;
                        position: relative;

                        .order {
                            line-height: 2.5rem;
                            display: inline-block;
                            overflow: hidden;
                            width: 100%;
                            height: 38px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .icon {
                            position: absolute;
                            height: 40px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 20px;
                            right: 0;
                        }
                    }

                    .all_orders {
                        display: none;
                        position: absolute;
                        top: 40px;
                        min-width: 157px;
                        color: #2a3137;
                        box-shadow: 0 6px 20px rgba(42, 49, 55, .2);
                        flex-direction: column;
                        z-index: 1000;
                        background-color: #fff;
                        margin-bottom: 12px;

                        .order_item {
                            color: #2a3137;
                            text-decoration: none;
                            outline: none;
                            background: transparent;
                            position: relative;
                            display: block;
                            padding: 9px 30px 9px 33px;
                            line-height: normal;
                            word-wrap: break-word;
                            cursor: pointer;
                            min-height: 2.125rem;
                            position: relative;

                            &.active {
                                background: #3A25B5;
                                color: #fff;
                            }
                        }

                        &.active {
                            display: flex;
                        }
                    }
                }
            }

            .cvies_data {
                display: flex;
                flex-direction: row;
                margin-top: 24px;
                // padding-right: 360px;
                position: relative;

                .loading_box {
                    width: 100%;
                    height: calc(100vh - 100px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .filters {
                    display: flex;
                    flex-direction: column;
                    width: 340px;
                    padding: 0 15px;
                    position: sticky;
                    top: 100px;
                    margin-left: 15px;
                    max-height: calc(100vh - 100px);
                    overflow-y: scroll;
                    direction: rtl;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        width: 3px;
                        background-color: #9383eb;
                        border-radius: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #3A25B5;
                        border-radius: 4px;
                    }

                    .filter_box {
                        direction: ltr;
                        padding-bottom: 25px;
                        width: auto;

                        .radioLabel {
                            color: #2a3137;
                            font-family: Arial, "Helvetica Neue", sans-serif;
                            line-height: 1.43;
                            font-size: 0.875rem;
                            display: flex;
                            align-items: center;
                            position: relative;
                            flex-direction: row;

                            input[type="radio"] {
                                width: 20px;
                                height: 20px;
                                opacity: 0;
                            }

                            &:before {
                                content: '';
                                background-color: #FFFFFF;
                                border: 1px solid #AABBCA;
                                border-radius: 50%;
                                position: absolute;
                                left: 0px;
                                width: 20px;
                                height: 20px;
                                display: inline-flex;
                            }

                            &:after {
                                content: '';
                                background-color: #ffffff;
                                border: 1px solid #ffffff;
                                border-radius: 50%;
                                position: absolute;
                                left: 6px;
                                width: 8px;
                                height: 8px;
                            }

                            &:hover {
                                &::before {
                                    border-color: #DCE3EB;
                                }
                            }

                            &.checked {
                                &::before {
                                    background-color: #3A25B5;
                                    border-color: #3A25B5;
                                }
                            }
                        }

                        .checkboxLabel {
                            color: #2a3137;
                            font-family: Arial, "Helvetica Neue", sans-serif;
                            line-height: 1.43;
                            font-size: 0.875rem;
                            display: flex;
                            align-items: center;
                            position: relative;
                            flex-direction: row;

                            input[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                opacity: 0;
                            }

                            &:hover {
                                .icon {

                                    svg {
                                        fill: #553ce2;
                                    }
                                }
                            }

                            .icon {
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                left: 0;

                                svg {
                                    fill: #3A25B5;
                                }
                            }
                        }

                        .label {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            color: #2a3137;
                            font-family: Arial, "Helvetica Neue", sans-serif;
                            line-height: 1.43;
                            font-size: 0.875rem;
                            font-weight: 700;
                        }

                        .input {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            &.row {
                                flex-direction: row;

                                input[type="text"] {
                                    width: calc(50% - 5px);
                                }

                            }

                            input[type="text"] {
                                outline: none;
                                width: 100%;
                                line-height: 1.43;
                                font-size: 0.875rem;
                                display: inline-block;
                                width: 100%;
                                height: 40px;
                                padding: 0 12px;
                                margin: 0;
                                border-radius: 4px;
                                font-family: Arial, "Helvetica Neue", sans-serif;
                                color: #2a3137;
                                background-color: #fff;
                                line-height: 2.375rem;
                                border: 1px solid #aabbca;

                                &:hover {
                                    border-color: #7f8c97;
                                }
                            }
                        }
                    }

                    .btn_box {
                        padding-bottom: 25px;
                        width: auto;
                        position: sticky;
                        bottom: 0;
                        direction: ltr;
                        background-color: #fff;
                        padding: 10px;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        button {
                            display: inline-block;
                            box-sizing: border-box;
                            margin: 0;
                            vertical-align: middle;
                            text-decoration: none;
                            cursor: pointer;
                            font-weight: regular;
                            font-size: 0.875rem;
                            height: 40px;
                            position: relative;
                            padding: 0 12px;
                            border-radius: 4px;
                            font-family: inherit;
                            line-height: 2.375rem;
                            color: #fff;
                            border: 1px solid;
                            border-color: #3A25B5;
                            background-color: #3A25B5;
                            transition: all .3s ease-in-out;

                            &:last-child {
                                background-color: #fff;
                                color: #3A25B5;
                            }

                            &:hover {
                                background-color: #4d38c4;
                                border-color: #4d38c4;
                                color: #fff;

                                &:last-child {
                                    background-color: #3A25B5;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}